
@model FBA.Models.Token
@{
    ViewBag.Title = "Home";
}

<div id="home-page">
        <div class="row">
            <ul id="main-menu-home">
                <li>Reactions</li>
                <li>Comments</li>
                <li></li>
            </ul>
        </div>

</div>
