
@model FBA.Models.Token
@{
    ViewBag.Title = "Home";
}

<div id="home-page">
        <div class="row">
            <ul id="main-menu-home">
                <li>@Html.ActionLink("Reactions", "Reactions", "Home")</li>
                <li>@Html.ActionLink("Comments", "", "Home")</li>
                <li></li>
            </ul>
        </div>

</div>
