.background {
    position: relative;
    width: 100%;
    background: #111;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
}

.background {
    background-image: url('img/bg.png');
}
/*canvas {
    position: absolute;
}*/


@media only screen and (max-width: 768px) {
    .background .main-title {
        font-size: 3em;
    }
}